<template >
  <div>
    
       <input class="search" type="text" v-model="search" placeholder="Search Wallpaper" />
    

    <v-row>
      <v-col v-for="wallpaper in filteredWallpapers" :key="wallpaper._id" cols="12" sm="4">
        <Wallpaper :info="wallpaper"></Wallpaper>
      </v-col>
    </v-row>
  </div>
</template>


<script>
import API from "@/services/Api.js";
import Wallpaper from "@/components/Wallpaper.vue";

export default {
  name: "Home",
  data() {
    return {
      wallpapers: [],
      search: ""
    };
  },
  created() {
    API.getAllWallpapers().then(wallpapers => {
      this.wallpapers = wallpapers;
    });
  },
  components: {
    Wallpaper
  },
  computed: {
    filteredWallpapers: function() {
      return this.wallpapers.filter(wp => {
        return wp.author.match(this.search);
      });
    }
  }
};
</script>

<style lang="scss">
.search {
  border-style: solid;
  border-color: orange;
  display: flex;
  justify-content: center;
}
</style>
