<template>
 <div id="app">
  <v-card class="mx-auto" max-width="400">
    <v-img class="white--text align-end" height="200px" :src="info.download_url">
      <v-card-title>{{info.author}}</v-card-title>
    </v-img>
    <v-card-subtitle class="pb-0">{{info.width + "px"}}</v-card-subtitle>
    <v-card-actions>
      <v-btn color="orange" text>Favorite</v-btn>

      <v-btn color="orange" @click="downloadWithAxios" text>Download</v-btn>
    </v-card-actions>
  </v-card>
  </div>
</template>


<script>

export default {
  name: "Wallpaper",
  props: {
    info: Object
  }
}
</script>

<style lang="scss" scoped>
</style>