<template>
  <v-app>
    <v-app-bar
      app
      color="orange"
      dark
    >
      <v-spacer></v-spacer>

    <v-toolbar-title>WALLPAPERS</v-toolbar-title>

      <v-spacer></v-spacer>

    <v-btn icon>
        <v-icon @click='logout'>mdi-logout</v-icon>
    </v-btn>  

    </v-app-bar>

    <v-content>
      <v-container>
        <router-view></router-view>
      </v-container>    
    </v-content>

    <v-footer color="orange">
      <v-spacer></v-spacer>
      <div>&copy; {{ new Date().getFullYear() }}</div>
    </v-footer>

  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
      icons: [
        'mdi-home',
        'mdi-email',
        'mdi-calendar',
        'mdi-delete',
      ],
      items: [
        'default',
        'absolute',
        'fixed',
      ],
      padless: false,
      variant: 'default',
    }),
    computed: {
      localAttrs () {
        const attrs = {}

        if (this.variant === 'default') {
          attrs.absolute = false
          attrs.fixed = false
        } else {
          attrs[this.variant] = true
        }
        return attrs
      },
    },
  methods: {
    logout() {
      localStorage.clear();
      this.$router.push("/");
    },
  },  
}
</script>

<style lang="sass" scoped>

</style>

